.contact {
  padding: 100px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: white;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #f5deb3;
  font-weight: 700;
}

.contact-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #f0e5d8;
}

.contact-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f5deb3;
  color: #4b2e2e;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: #ffe4b5;
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-title {
    font-size: 2rem;
  }

  .contact-text {
    font-size: 1.1rem;
  }

  .contact-btn {
    padding: 10px 18px;
    font-size: 0.95rem;
  }
}
